{% extends "base.html" %}

{% block content %}
<div class="lead">
  <div style="background-color: rgba(36, 31, 31, 0.35)">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner" style="text-align: center;">
    <div class="carousel-item active" >
      <img src="https://images.interactives.dk/panamera-turbo-05-SNG7uBvAq9hUg6grpswPLA.jpg?auto=compress&ch=Width%2CDPR&dpr=1.5&ixjsv=2.2.4&q=66&rect=341%2C2%2C2918%2C2020&w=960" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-porsche-panamara-turbo-s-101-1600789259.jpg?crop=0.649xw:0.548xh;0.239xw,0.380xh&resize=2048:*" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/model-series-g2-2nd-panamera-highlights-04/normal/768c597f-d282-11ea-80cc-005056bbdc38;sM;twebp;c1697;gc/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/model-series-g2-2nd-panamera-intro/preview/a0519320-d30a-11ea-80cc-005056bbdc38;sN;twebp/porsche-preview.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-01/normal/c177c823-be33-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-02/normal/ff895fca-be34-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-03/normal/259a1632-ff33-11ea-80ce-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-04/normal/b2462191-be35-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h1 class="display-3"><b>Porsche Panamera Turbo S 2021</b></h1>
<hr>
<h1 class="display-6 ml-1">Overview</h1>
    <p class="ml-1">Originally thought to be too big of a departure for the storied sports car brand, the Panamera Turbo launched Porsche into the luxury sedan marketplace—allowing its high-performance ethos to reach a new audience. The 2021 Panamera Turbo S and Turbo S E-Hybrid take the speed-focused super-sedan into a new era with 620- and 689-hp powertrains, respectively. Although not quite as agile as Porsche's sports cars, the Panamera Turbo S range holds its own against rival sedans such as the Audi RS7, the BMW M5, and the Mercedes-AMG GT63. Its interior is nicely trimmed and well equipped—although the best features cost much extra to add on—and space is plentiful, especially in the long-wheelbase Executive models. Cargo space is generous too, as the Panamera cleverly hides a large cargo bay beneath its sloped hatchback. Looking for even more practicality? Consider the wagon-bodied Panamera Sport Turismo models, which we review separately.</p>
  <hr>
<h1 class="display-6 ml-1">Vehicle</h1>
<div class="ml-1">
  <div class="row"><div class="col">EPA Classification</div><div class="col">Large Cars</div></div>
  <div class="row"><div class="col">Drivetrain</div><div class="col">All Wheel Drive</div></div>
</div>

<hr>
<h1 class="display-6 ml-1">Engine</h1>
<div class="ml-1">
  <div class="row"><div class="col">Engine Order Code</div><div class="col">NA</div></div>
  <div class="row"><div class="col">Engine Type and Required Fuel</div><div class="col">Twin Turbo Premium Unleaded V-8</div></div>
  <div class="row"><div class="col">Displacement (liters/cubic inches)</div><div class="col">4.0 L/244</div></div>
  <div class="row"><div class="col">Fuel System</div><div class="col">Gasoline Direct Injection</div></div>
  <div class="row"><div class="col">Maximum Horsepower @RPM</div><div class="col">620 @ 6000</div></div>
  <div class="row"><div class="col">Maximum Torque @RPM</div><div class="col">604 @ 2300</div></div>
  <div class="row"><div class="col">Cooling System Capacity (quarts)</div><div class="col">NA</div></div>
</div>
<hr>
<h1 class="display-6 ml-1">Transmission</h1>
<div class="ml-1">
  <div class="row"><div class="col">Transmission Order Code</div><div class="col">G1G</div></div>
  <div class="row"><div class="col">Transmission Description</div><div class="col">Auto-Shift Manual w/OD</div></div>
  <div class="row"><div class="col">Number of Transmission Speeds</div><div class="col">8</div></div>
  <div class="row"><div class="col">First Gear Ratio(:1)</div><div class="col">5.97</div></div>
  <div class="row"><div class="col">Second Gear Ratio(:1)</div><div class="col">3.24</div></div>
  <div class="row"><div class="col">Third Gear Ratio(:1)</div><div class="col">2.08</div></div>
  <div class="row"><div class="col">Fourth Gear Ratio(:1)</div><div class="col">1.42</div></div>
  <div class="row"><div class="col">Fifth Gear Ratio(:1)</div><div class="col">1.05</div></div>
  <div class="row"><div class="col">Sixth Gear Ratio(:1)</div><div class="col">0.84</div></div>
  <div class="row"><div class="col">Seventh Gear Ratio(:1)</div><div class="col">0.68</div></div>
  <div class="row"><div class="col">Eighth Gear Ratio(:1)</div><div class="col">0.53</div></div>
  <div class="row"><div class="col">Reverse Ratio(:1)</div><div class="col">5.22</div></div>
  <div class="row"><div class="col">Final Drive Axle Ratio(:1)</div><div class="col">3.36</div></div>
  <div class="row"><div class="col">Clutch Size</div><div class="col">NA</div></div>
</div>
<hr>
<h1 class="display-6 ml-1">Fuel Economy and Range</h1>
<div class="ml-1">
  <div class="row"><div class="col">EPA Greenhouse Gas Score</div><div class="col">NA</div></div>
  <div class="row"><div class="col">CO2 Emissions, 15K mi/year (tons)</div><div class="col">10.4</div></div>
  <div class="row"><div class="col">Range, city/highway (miles)</div><div class="col">355.50 / 497.70</div></div>
  <div class="row"><div class="col">EPA Fuel Economy, combined/city/highway (mpg)</div><div class="col">17 / 15 / 21</div></div>
  <div class="row"><div class="col">EPA Fuel Economy Equivalent (for hybrid and electric vehicles), combined/city/highway (MPGe)</div><div class="col">NA / NA / NA</div></div>
</div>
</div>
<style>
    .carousel .item {
    height: 300px;
    }

    img {
        height: 500px;
        width: auto;
    }

</style>
{% endblock %}