{% extends "base.html" %}

{% block content %}
<div class="lead">
  <div style="background-color: rgba(36, 31, 31, 0.35)">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner" style="text-align: center;">
    <div class="carousel-item active" >
      <img src="https://images.interactives.dk/panamera-turbo-05-SNG7uBvAq9hUg6grpswPLA.jpg?auto=compress&ch=Width%2CDPR&dpr=1.5&ixjsv=2.2.4&q=66&rect=341%2C2%2C2918%2C2020&w=960" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-porsche-panamara-turbo-s-101-1600789259.jpg?crop=0.649xw:0.548xh;0.239xw,0.380xh&resize=2048:*" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/model-series-g2-2nd-panamera-highlights-04/normal/768c597f-d282-11ea-80cc-005056bbdc38;sM;twebp;c1697;gc/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/model-series-g2-2nd-panamera-intro/preview/a0519320-d30a-11ea-80cc-005056bbdc38;sN;twebp/porsche-preview.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-01/normal/c177c823-be33-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-02/normal/ff895fca-be34-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-03/normal/259a1632-ff33-11ea-80ce-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.porsche.com/filestore/image/multimedia/none/g2-2nd-panamera-design-gallery-04/normal/b2462191-be35-11eb-80d7-005056bbdc38;sK;twebp/porsche-normal.webp" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h1 class="display-3"><b>{{car.car_brand}} {{car.car_model}}</b></h1>
<a href="/car_comments/{{car.car_model}}" style="text-decoration: none; color: #000;"><button type="button" class="btn btn-info">Read/Leave a comment</button></a>
<hr>
<h1 class="display-6 ml-1">Overview</h1>
    <p class="ml-1">{{car.car_description}}</p>
  <hr>
<div class="ml-1">
  <div class="row"><div class="col">Price</div><div class="col">€ {{car.price}}</div></div>
</div>
<h1 class="display-6 ml-1">Vehicle</h1>
<div class="ml-1">
  <div class="row"><div class="col">Classification</div><div class="col">{{car.body_type}}</div></div>
  <div class="row"><div class="col">Drivetrain</div><div class="col">{{car.drive_type}}</div></div>
  <div class="row"><div class="col">Transmission</div><div class="col">{{car.transmission_type}}</div></div>
  <div class="row"><div class="col">Seating capacity</div><div class="col">{{car.seating_capacity}}</div></div>
</div>

<hr>
<h1 class="display-6 ml-1">Engine</h1>
<div class="ml-1">
  <div class="row"><div class="col">Power</div><div class="col">{{car.power}} Hp</div></div>
  <div class="row"><div class="col">Tourque</div><div class="col">{{car.tourque}}</div></div>
  <div class="row"><div class="col">Engine Type</div><div class="col">{{car.engine_type}}</div></div>
  <div class="row"><div class="col">Fuel Type</div><div class="col">{{car.fuel_type}}</div></div>
  <div class="row"><div class="col">Number of cylinders</div><div class="col">{{car.no_of_cylinder}}</div></div>
  <div class="row"><div class="col">Valves per cylinder</div><div class="col">{{car.valves_per_cylinder}}</div></div>
</div>
<hr>
<h1 class="display-6 ml-1">Other</h1>
<div class="ml-1">
  <div class="row"><div class="col">Top speed</div><div class="col">{{car.top_speed}} Km/h</div></div>
  <div class="row"><div class="col">Acceleration</div><div class="col">{{car.acceleration_to_100}} seconds</div></div>
  <div class="row"><div class="col">Wheel size</div><div class="col">{{car.wheel_size}} "</div></div>
</div>
<hr>
</div>
<style>
    .carousel .item {
    height: 300px;
    }

    img {
        height: 500px;
        width: auto;
    }

</style>
{% endblock %}