{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table fa-check text-successtable-border border-light ml-1">
    <thead class="border-light">
      {% for f in car1%}
      {% for s in car2%}
      console.log("Count");
        <tr>
            <th scope="col"></th>
            <th scope="col"><img src={{f.image}} alt={{f.model}}></th>
            <th scope="col"><img src={{s.image}} alt={{s.model}}></th>
          </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col"><strong>{{f.brand}} {{f.model}}</strong></th>
        <th scope="col"><strong>{{s.brand}} {{s.model}}</strong></th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <th scope="row">Price</th>
        <td>€ {{f.price}}</i></td>
        <td>€ {{s.price}} </td>
      </tr>
        <tr>
            <td class="lead">Vehicle</td>
        </tr>
      <tr>
        <th scope="row">Classification</th>
        <td>{{f.body}}</i></td>
        <td>{{s.body}}</td>
      </tr>
      <tr>
        <th scope="row">Drivetrain</th>
        <td>{{f.drive_type}}</i></td>
        <td>{{s.drive_type}}</td>
      </tr>
      <tr>
        <th scope="row">Transmission</th>
        <td>{{f.transmission}}</i></td>
        <td>{{s.transmission}}</td>
      </tr>
      <tr>
          <td class="lead">Engine</td>
      </tr>
      <tr>
        <th scope="row">Power</th>
        <td>{{f.power}} Hp</td>
        <td>{{s.power}} Hp</td>
      </tr>
      <tr>
        <th scope="row">Tourque</th>
        <td>{{f.tourque}}</td>
        <td>{{s.tourque}}</td>
      </tr>
      <tr>
        <th scope="row">Engine Type</th>
        <td>{{f.engine}}</td>
        <td>{{s.engine}}</td>
      </tr>
      <tr>
        <th scope="row">Fuel Type</th>
        <td>{{f.fuel}}</td>
        <td>{{s.fuel}}</td>
      </tr>
      <tr>
        <th scope="row">Number of cylinders</th>
        <td>{{f.cylinders}}</td>
        <td>{{f.cylinders}}</td>
      </tr>
      <tr>
        <th scope="row">Valves per cylinder</th>
        <td>{{f.valves}}</td>
        <td>{{f.valves}}</td>
      </tr>
        <td class="lead">Other</td>
      </tr>
      <tr>
        <th scope="row">Top speed</th>
        <td>{{f.top_speed}} Km/h</td>
        <td>{{f.top_speed}} Km/h</td>
      </tr>
      <tr>
        <th scope="row">Acceleration </th>
        <td>{{f.acceleration}} seconds</td>
        <td>{{f.acceleration}} seconds</td>
      </tr>
      <tr>
        <th scope="row">Wheel size</th>
        <td>{{f.wheels}} "</td>
        <td>{{f.wheels}} "</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{f.description}} "</td>
        <td>{{f.description}} "</td>
      </tr>
    </tbody>
    {% endfor %}
    {% endfor %}
  </table>
</div>
<style>
    img {
        height: 200px;
        width: auto;
    }
</style>
{% endblock %}