{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped fa-check text-successtable-border border-light ml-1">
    <thead class="border-light">
        <tr>
            <th scope="col"></th>
            <th scope="col"><img src="https://www.carpixel.net/t/100760/d5a547fe54660cbc97ac5f9b8746e742.jpg" alt="..."></th>
            <th scope="col"><img src="https://images.interactives.dk/panamera-turbo-05-SNG7uBvAq9hUg6grpswPLA.jpg?auto=compress&ch=Width%2CDPR&dpr=1.5&ixjsv=2.2.4&q=66&rect=341%2C2%2C2918%2C2020&w=960" alt="..."></th>
          </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col"><strong>Mercedes S Class</strong></th>
        <th scope="col"><strong>Porsche Panamera</strong></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td class="lead">Vehicle</td>
        </tr>
      <tr>
        <th scope="row">EPA Classification</th>
        <td> Large Cars</td>
        <td> Large Cars</td>
      </tr>
      <tr>
        <th scope="row">Drivetrain</th>
        <td>All Wheel Drive</i></td>
        <td>All Wheel Drive</td>
      </tr>
      <tr>
          <td class="lead">Engine</td>
      </tr>
      <tr>
        <th scope="row">Engine Type and Required Fuel</th>
        <td>Intercooled Turbo Ga/Electric I-6</td>
        <td>Twin Turbo Premium Unleaded V-8</td>
      </tr>
      <tr>
        <th scope="row">Displacement (liters/cubic inches)</th>
        <td>3.0 L/183</td>
        <td>4.0 L/244</td>
      </tr>
      <tr>
        <th scope="row">Fuel System</th>
        <td>Gasoline Direct Injection</td>
        <td>Gasoline Direct Injection</td>
      </tr>
      <tr>
        <th scope="row">Maximum Horsepower @ RPM</th>
        <td>429 @ 6100</td>
        <td>620 @ 6000</td>
      </tr>
      <tr>
        <th scope="row">Maximum Torque @ RPM</th>
        <td>384 @ 1800</td>
        <td>604 @ 2300</td>
      </tr>
      <tr>
        <td class="lead">Transmission</td>
      </tr>
      <tr>
        <th scope="row">Transmission Order Code</th>
        <td>NA</td>
        <td>G1G</td>
      </tr>
      <tr>
        <th scope="row">Transmission Description</th>
        <td>Automatic w/OD</td>
        <td>Auto-Shift Manual w/OD</td>
      </tr>
      <tr>
        <th scope="row">Number of Transmission Speeds</th>
        <td>9</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">First Gear Ratio (:1)</th>
        <td>5.50</td>
        <td>5.97</td>
      </tr>
      <tr>
        <th scope="row">Second Gear Ratio (:1)</th>
        <td>3.33</td>
        <td>3.24</td>
      </tr>
      <tr>
        <th scope="row">Third Gear Ratio (:1)</th>
        <td>2.31</td>
        <td>2.08</td>
      </tr>
      <tr>
        <th scope="row">Fourth Gear Ratio (:1)</th>
        <td>1.66</td>
        <td>1.42</td>
      </tr>
      <tr>
        <th scope="row">Fifth Gear Ratio (:1)</th>
        <td>1.21</td>
        <td>1.05</td>
      </tr>
      <tr>
        <th scope="row">Sixth Gear Ratio (:1)</th>
        <td>1.00</td>
        <td>0.84</td>
      </tr>
      <tr>
        <th scope="row">Seventh Gear Ratio (:1)</th>
        <td>0.86</td>
        <td>0.68</td>
      </tr>
      <tr>
        <th scope="row">Eighth Gear Ratio (:1)</th>
        <td>0.72</td>
        <td>0.53</td>
      </tr>
      <tr>
        <th scope="row">Reverse Ratio (:1)</th>
        <td>4.93</td>
        <td>5.22</td>
      </tr>
      <tr>
        <th scope="row">Final Drive Axle Ratio (:1)</th>
        <td>NA</td>
        <td>3.36</td>
      </tr>
    <tr>
        <td class="lead">Fuel Economy and Range</td>
    </tr>
    <tr>
      <th scope="row">CO2 Emissions, 15K mi/year (tons)</th>
      <td>NA</td>
      <td>10.4</td>
    </tr>
    <tr>
      <th scope="row">Range, city/highway (miles)</th>
      <td>444.00 / 643.80</td>
      <td>355.50 / 497.70</td>
    </tr>
    <tr>
      <th scope="row">EPA Fuel Economy, combined/city/highway (mpg)</th>
      <td>24 / 20 / 29</td>
      <td>17 / 15 / 21</td>
    </tr>
    <tr>
        <td class="lead">Fuel Tank</td>
    </tr>
    <tr>
        <th scope="row">Fuel Capacity / Gas Tank Size</th>
        <td>24 / 20 / 29</td>
        <td>23.7</td>
    </tr>
    <tr>
        <td class="lead">Exterior Dimentions</td>
    </tr>
    <tr>
        <th scope="row">Wheelbase (inches)</th>
        <td>126.6</td>
        <td>116.1</td>
    </tr>
    <tr>
        <th scope="row">Length (inches)</th>
        <td>208.2</td>
        <td>198.8</td>
    </tr>
    <tr>
        <th scope="row">Width, without mirrors (inches)</th>
        <td>76.9</td>
        <td>78.2</td>
    </tr>
    <tr>
        <th scope="row">Height (inches)</th>
        <td>59.2</td>
        <td>56</td>
    </tr>
    <tr>
        <th scope="row">Front Track Width (inches)</th>
        <td>65.2</td>
        <td>65.2</td>
    </tr>
    <tr>
        <th scope="row">Rear Track Width (inches)</th>
        <td>66.3</td>
        <td>64.5</td>
    </tr>
    <tr>
        <th scope="row">Minimum Ground Clearance (inches)</th>
        <td>5.1</td>
        <td>NA</td>
    </tr>
    <tr>
        <td class="lead">Interior Dimentions</td>
    </tr>
    <tr>
        <th scope="row">Passenger / Seatiing Capacity</th>
        <td>5</td>
        <td>4</td>
    </tr>
    <tr>
        <th scope="row">Total Passenger Volume (cubic feet)</th>
        <td>NA</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Front Head Room (inches)</th>
        <td>39.3</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Front Leg Room (inches)</th>
        <td>41</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Front Shoulder Room (inches)</th>
        <td>59.7</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Front Hip Room (inches)</th>
        <td>62.7</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Second Row Head Room (inches)</th>
        <td>NA</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Second Row Leg Room (inches)</th>
        <td>44</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Second Row Shoulder Room (inches)</th>
        <td>57.8</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Second Row Hip Room (inches)</th>
        <td>61.9</td>
        <td>NA</td>
    </tr>
    <tr>
        <td class="lead">Cargo Area Dimensions</td>
    </tr>
    <tr>
        <th scope="row">Trunck Space (cubic feet)</th>
        <td>12.9</td>
        <td>NA</td>
    </tr>
    <tr>
        <th scope="row">Cargo Space/Area with Rear Seat Down</th>
        <td>NA</td>
        <td>47.3</td>
    </tr>
    <tr>
        <th scope="row">Cargo Space/Area with Rear Seat Up</th>
        <td>NA</td>
        <td>17.6</td>
    </tr>
    <tr>
        <td class="lead">Wheels and Tires</td>
    </tr>
    <tr>
        <th scope="row">Front Wheel Size (inches)</th>
        <td>19 x 8.5</td>
        <td>21 x 9.5</td>
    </tr>
    <tr>
        <th scope="row">Front Wheel Material</th>
        <td>Aluminium</td>
        <td>Forged Aluminium</td>
    </tr>
    <tr>
        <th scope="row">Front Tire Size</th>
        <td>P255/45HR19</td>
        <td>P275/35YR21</td>
    </tr>
    <tr>
        <th scope="row">Rear Wheel Size (inches)</th>
        <td>19 x 8.5</td>
        <td>21 x 11.5</td>
    </tr>
    <tr>
        <th scope="row">Rear Wheel Material</th>
        <td>Aluminium</td>
        <td>Forged Aluminium</td>
    </tr>
    <tr>
        <th scope="row">Rear Tire Size</th>
        <td>P255/45HR19</td>
        <td>P325/30YR21</td>
    </tr>
    </tbody>
  </table>
</div>
<style>
    img {
        height: 200px;
        width: auto;
    }
</style>
{% endblock %}