{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table fa-check text-successtable-border border-light ml-1">
    <thead class="border-light">
        <tr>
            <th scope="col"></th>
            <th scope="col"><img src="https://www.carpixel.net/t/100760/d5a547fe54660cbc97ac5f9b8746e742.jpg" alt="..."></th>
            <th scope="col"><img src="https://images.interactives.dk/panamera-turbo-05-SNG7uBvAq9hUg6grpswPLA.jpg?auto=compress&ch=Width%2CDPR&dpr=1.5&ixjsv=2.2.4&q=66&rect=341%2C2%2C2918%2C2020&w=960" alt="..."></th>
          </tr>
        <tr>
        {% for f in car1%}
        {% for s in car2%}
        <th scope="col"></th>
        <th scope="col"><strong>{{f.brand}} {{f.model}}</strong></th>
        <th scope="col"><strong>{{s.brand}} {{s.model}}</strong></th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <th scope="row">Price</th>
        <td>€ {{f.price}}</i></td>
        <td>€ {{s.price}} </td>
      </tr>
        <tr>
            <td class="lead">Vehicle</td>
        </tr>
      <tr>
        <th scope="row">Classification</th>
        <td>{{f.body}}</i></td>
        <td>{{s.body}}</td>
      </tr>
      <tr>
        <th scope="row">Drivetrain</th>
        <td>{{f.drive_type}}</i></td>
        <td>{{s.drive_type}}</td>
      </tr>
      <tr>
        <th scope="row">Transmission</th>
        <td>{{f.transmission}}</i></td>
        <td>{{s.transmission}}</td>
      </tr>
      <tr>
          <td class="lead">Engine</td>
      </tr>
      <tr>
        <th scope="row">Power</th>
        <td>{{f.power}} Hp</td>
        <td>{{s.power}} Hp</td>
      </tr>
      <tr>
        <th scope="row">Tourque</th>
        <td>{{f.tourque}}</td>
        <td>{{s.tourque}}</td>
      </tr>
      <tr>
        <th scope="row">Engine Type</th>
        <td>{{f.engine}}</td>
        <td>{{s.engine}}</td>
      </tr>
      <tr>
        <th scope="row">Fuel Type</th>
        <td>{{f.fuel}}</td>
        <td>{{s.fuel}}</td>
      </tr>
      <tr>
        <th scope="row">Number of cylinders</th>
        <td>{{f.cylinders}}</td>
        <td>{{f.cylinders}}</td>
      </tr>
      <tr>
        <th scope="row">Valves per cylinder</th>
        <td>{{f.valves}}</td>
        <td>{{f.valves}}</td>
      </tr>
        <td class="lead">Other</td>
      </tr>
      <tr>
        <th scope="row">Top speed</th>
        <td>{{f.top_speed}} Km/h</td>
        <td>{{f.top_speed}} Km/h</td>
      </tr>
      <tr>
        <th scope="row">Acceleration </th>
        <td>{{f.acceleration}} seconds</td>
        <td>{{f.acceleration}} seconds</td>
      </tr>
      <tr>
        <th scope="row">Wheel size</th>
        <td>{{f.wheels}} "</td>
        <td>{{f.wheels}} "</td>
      </tr>
    </tbody>
    {% endfor %}
    {% endfor %}
  </table>
</div>
<style>
    img {
        height: 200px;
        width: auto;
    }
</style>
{% endblock %}